/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
Gemfile.local
Gemfile.local.lock
.kitchen/
*.tfstate
*.tfstate.backup
.terraform
test/integration/shared/.vagrant
